* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items: center;
}

html {
    font-size: 62.5%;
}

.box {
    background-color: #d6d4d4;
    width: 50rem;
    height: 60rem;

    & .title {
        background-color: black;
        text-align: center;
        color: white;
        padding: 1rem;
        font-size: 2.2rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
    }

    & .image {
        position: relative;
        left: 18.5rem;
        top: 3.3rem;

        & img {
            width: 13rem;
            height: 14.6rem;
        }
    }

    & .fields{
        position: relative;
        left: 12rem;
        top: 4rem;
        font-family: "Poppins", sans-serif;
        font-style: normal;
        font-size: 1.5rem;
        margin-bottom: 5rem;
    }

    .btn{
        position: relative;
        left: 14rem;
        top: 2rem;

        & button{
            padding: 0.8rem 8rem;
            background-color: #282525;
            color: white;
            border: 2px solid black;
        }
    }


}