* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /** 62.5% = 10px **/
    /*^ 1rem =10px  ^*/
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 6.4rem;
    color: #fff;
    display: grid;
    place-items: center;

    & .parallex_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 30rem;


        & .intro_screen {
            height: 100vh;
            background-color: tomato;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .outro_screen {
            height: 100vh;
            background-color: teal;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .parallex_group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;

            & .parallex_layer {
                position: absolute;
                /*% Giving top,bottom,left & right=0 using insert. %*/
                inset: 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            & .base_layer {
                /*^ scale calculation: 1 + {(Z transform value * -1)/perspective}
                ^*/
                transform: translateZ(-30rem) scale(2);
                -webkit-transform: translateZ(-30rem) scale(2);
                -moz-transform: translateZ(-30rem) scale(2);
                -ms-transform: translateZ(-30rem) scale(2);
                -o-transform: translateZ(-30rem) scale(2);
            }

            & .mid_layer {
                transform: translateZ(0);
                -webkit-transform: translateZ(0);
                -moz-transform: translateZ(0);
                -ms-transform: translateZ(0);
                -o-transform: translateZ(0);
            }

            & .top_layer {
                transform: translateZ(21rem) scale(0.3);
                -webkit-transform: translateZ(21rem) scale(0.3);
                -moz-transform: translateZ(21rem) scale(0.3);
                -ms-transform: translateZ(21rem) scale(0.3);
                -o-transform: translateZ(21rem) scale(0.3);
            }
        }

        #intro {
            z-index: 0;
        }

        #group-1 {
            z-index: -1;

            & .base_layer {
                background-color: crimson;
            }
        }

        #group-2 {

            & .mid_layer {
                background-color: yellowgreen;
            }
        }

        #outro {}
    }
}