* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .container {
    width: 60rem;
    min-width: 32rem;
    padding: 2rem;
  
    & .search_field {
      width: 10rem;
      border: 1px solid black;
      line-height: 2;
      border-radius: 0.4rem;
      transition: all 0.3s ease-in-out;
  
      &:focus {
        width: 100%;
        border-color: #3a71ca;
        outline-color: #3a71ca;
  
        &::placeholder {
          color: transparent;
        }
      }
  
      &::placeholder {
        font-weight: 200;
      }
    }
  }
  