* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("https://thumbs.dreamstime.com/b/indian-village-monsoon-rainy-seasons-76547717.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.rain {
    width: 100vw;
    height: 100vh;
    background-image: url("rain.png");
    animation-name: top-to-bottom;
    animation-duration: 0.4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes top-to-bottom {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 10% 100%;
    }
}